
/*Weboldal teste*/
body{
    background-image: url(../navbarkep.jpg);
    color: white;
    padding-left:50px;
    padding-right: 50px;
}
h1{
    text-align: center;
    color: red;
}
p{
    text-align: justify;
    text-indent: 10px;
}
footer{
    font-size: 30px;
    text-align: center;
    background-color: rgb(3, 3, 69, 25%);
}
/*Ez a tortenet.html oldal css-e*/
#emlek{
    width: 100%;
    height: 100%;
    border: 1px rgb(4, 3, 59) solid;
}
#kezdet{
    float: right;
    width: 15%;
    margin-right: 30px;
    border-radius: 30px;   
}
/*Ez a szereploi.html oldal css-e*/
#rlista{
    list-style-image: url(../szereploi/rambokes.png);
}
#szkep{
    width: 20%;
    border-radius: 20px;
    border: 3px rgba(153, 205, 50, 0.274) solid;
}
/*Ez a navbar, navigációs sávnak a css-e*/

#navigalas{
    padding-left: 20%;
    padding-right: 10%;
    font-size: 20px;
    text-align: center;
}
/* Ez a forambo.html oldal css-e*/

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#webkep{
    filter: brightness(30%);
}

/*Ez a sorozatok.html oldal css-e*/
#sorozat{
    width: 200px;
    object-fit: cover;
    border: 1px lightgrey solid;
    border-radius: 5px;
}
#sszoveg{
    text-align: justify;
}
strong{
    font-style: italic;
}