h1{
    text-align: center;
}



/* Lilinek a css-e */

.menu {
    color: #A52A2A;
    text-decoration: none;
    font-size: 200%;
    border-style: solid;
    border-right:#A52A2A;
    border-left:#A52A2A;
    border-top:#A52A2A;
    padding: 0.5vh;
}

a:hover, a:active, a:visited, a{
    text-decoration: none;
    color: #A52A2A;
}

body {
    background-color: #0f0e17;
    color: #fffffe;
}
p {
    text-align:justify;
    font-size: 18px;
    vertical-align: middle;
    border-style: solid;
    border-color: #A52A2A;
    padding: 4%;
    background-color: #16151e;
}

#plakat{
    width: 84%;
    float: right;
    margin-right: 7.5%;
}

.container {
    margin-bottom: 3%;
}

#karakterek {
    text-align:justify;
    font-size: 18px;
    vertical-align: middle;
    border-style: solid;
    border-color: #A52A2A;
    padding: 4%;
    background-color: #16151e;
}


/* Zoltánnak a css-e */

body{
    background: rgba(0,0,0,0.7)url(./kepek/bg.jpg)fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.navbar{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(255, 136, 0);
}

p{
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: -webkit-linear-gradient(orange, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kep{
    width: 600px;
    text-align: center;
    border-radius: 20px;
    transition: transform .2s; /* Animation */
}

.kep:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.sz{
    margin-bottom: 80px;
    margin-left: 30px;
    transition: transform .2s; /* Animation */
}

.sz:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.szt{
    padding-left: 40px;
    padding-right: 100px;
    text-align: justify;
}

.border{
    border-radius: 50px;
}

h2{
    text-align: center;
    font-size: 65px;
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: -webkit-linear-gradient(orange, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Márknak a css-e */